<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realestateagencys">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.model.HouseArrangment" />
        <activity android:name=".ui.model.House" />

        <activity android:name=".ui.housearrangment.HouseArrangmentDashboard"/>
        <activity android:name=".ui.adapter.AvailableHouseAdapter"/>
        <activity android:name=".ui.view.AvailableHouses" />
        <activity android:name=".RentActivity" />
        <activity android:name=".SellActivity" />
        <activity android:name=".ui.view.MyArrangements" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdatePass" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".ui.view.MyArrangmentsDetails"/>
        <activity android:name=".ui.view.HouseTypes"/>
        <activity android:name=".ui.admin.AddArea"/>
        <activity android:name=".ui.housearrangment.HouseOptionsFilter"/>
        <activity android:name=".ui.admin.AddHouseType"/>
        <activity android:name=".ui.admin.AddHouse"/>


        <activity android:name=".ui.view.NearbyAreas"/>
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>